.App {
  text-align: center;

}
#cart{
  text-align: center;
}
#movies{
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  margin: 5px;
}
input{
  width: 400px;
  margin: 10px;
  
}
#search{
  
  width: max-content;
  padding-left: 10px;
}
form{
  text-align: center;
}
.Add{
  display: flex ;
  justify-content: flex-end;
  margin: 7px;
}
@media screen and (max-width: 960px) {
  .App {
    text-align: center;
    width: 100%;
    position: relative;
  
  }
  #cart{
    text-align: center;
  }
  #movies{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 5px;
    margin: 5px;
    width: 100%;
    position: relative;
  }
  input{
    width: 100%;
    margin: 10px;
    
  }
  #search{
    
    width: 100%;
    padding-left: 10px;
    position: relative;

  }
  form{
    text-align: center;
    
  }
  .Add{
    display: flex ;
    justify-content: flex-end;
    margin: 7px;


}
}
